backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.1.2
emoji==0.4.5
enum34==1.1.6
geopy==1.11.0
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
langdetect==1.0.7
nltk==3.2.5
numpy==1.13.3
olefile==0.44
pandas==0.21.0
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
Pillow==9.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyenchant==1.6.6
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scandir==1.6
scikit-learn==0.18.2
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
textstat==0.3.1
traitlets==4.3.2
twitter==1.10.0
urllib3==1.22
wcwidth==0.1.7
